<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Notes on Seattle – A seattle.io project</title>

  <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
  <meta name="description" content="A tiny notebook of important things happening in Seattle, WA.">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Lora:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<header>
  <div class="container">
    <h1 class="site-title"><a href="/">notes on seattle</a></h1>
    <ul class="nav">
      <li>
        <a href="/about">about</a>
      </li>
      <li id="seattleio">
        <a href="http://seattle.io" target="_blank">seattle.io</a>  
      </li>
    </ul>
  </div>
</header>

<main role="main">
  <div class="container">